<h1>GREETED NAMES</h1>

<form class="" action="/" method="post">
  <input type="text" name="name" placeholder="Type your name">
  <button type="submit" id="button">Greet</button>
</form>

{{greetName}}
