.col-sm-4{
  height:20%;
  width:30%;
}

.form1{
  position: relative;
  left: 20em;
}

p{
  font-size: 5em;
}

img{
  height : 3em;
  width : 6em;
}

nav{
  height : 6em;
}
.counter{
  font-size: 3em;
  text-align: center;
  padding: 100px;
}
.error{
  color : red;
  text-align: center;
  padding-left: 
}
